.about {
  .about-hero { 
    @include hero();
    height: 90vh;
    .about-info {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 50px;
      // height: 70vh;
      align-items: center;

      .personal-image {
        img {
          max-width: 20vw;
          border-radius: 5px;
          box-shadow: $box-shadow;
        }
     }

      .personal-info {
        max-width: 50vw;
        padding-left: 50px;
        p {
          color: $darkest;
          // font-weight: 600;
          font-size: 18px;
        }
        h4 {
          font-size: 45px;
          color: $yellow;
          font-family: $secondary-font;
          font-weight: 500;
          margin: 0;
        }
        a {
          color: $darkest;
        }
      }

    }
  }
}

@media (max-width: 900px) {
  .about {
    .about-hero {
      height: auto;
      .about-info {
        height: auto;
        flex-direction: column;
        text-align: center;
        .personal-image {
          img {
            max-width: 40vw;
            margin-top: 20px;
          }
        }
        .personal-info {
          font-size: 10px;
          max-width: 80vw;
          padding-left: 0;
          h4 {
            font-size: 30px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}