@import "./theme.scss";
@import "./mixins.scss";
@import "./navbar.scss";
@import "./landingpage.scss";
@import "./about.scss";
@import "./contact.scss";
@import "./resume.scss";
@import "./footer.scss";

body {
  margin: 0;
  font-family: $main-font;
  background-color: $off-white;
}