.resume {
  color: $darkest;
  .hero {
    @include hero();
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $secondary-font;
    h1 {
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid;
      font-size: 40px;
      font-weight: 500;
    }
    span {
      font-size: 18px;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50px;
      margin: 30px;
    }

  }

  .resume-content {
    margin: 10vh 25vw;
    p {
      margin: 10px 0;
    }
    h4 {
      color: $dark-pink;
      font-size: 32px;
      font-family: $secondary-font;
      font-weight: 500;
      margin: 20px 0; 
    }
    .bold {
      font-weight: 600;
    }
    span {
      padding-left: 10px;
    }
    .skills-lists {
      display: flex;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .front-end {
        div {
          font-weight: 600;
          font-size: 20px;
        }
      }
      .back-end {
        padding-left: 50px;
        div {
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }

    // img {
    //   border-radius: 5px;
    //   box-shadow: $box-shadow;
    // }
  }

@media (max-width: 500px) {
  .resume {
    .hero {
      height: 40vh;
      img {
        height: 60px;
        width: 60px;
        margin: 2px;
      }
      span{
        font-size: 15px;
      }
      h1 {
        font-size: 19px;
        margin: 8px;
        padding: 8px;
      }
    }
    .resume-content {
      margin: 0 20px;
      font-size: 12px;
      h4 {
        font-size: 20px;
      }
      .skills-lists {
        margin-bottom: 30px;
      }
    }
  }
}
