$lightest-tan:#fff4f4;
$lightest-pink: #fcefee;
$light-tan: #FFF5E4;
$light-pink: #FFE3E1;
$pink: #FFD1D1;
// $dark-pink: #FF9494;
$main-dark: #635454;
$darkest:#383232;

$dark-pink: #EE6D9A;
$accent-pink: #f3b6cc;
$yellow: #FDD14F;
$off-white: rgb(252, 245, 245);
$box-shadow: 1px 5px 10px rgb(0, 0, 0, .2);

$main-font: 'Kaisei HarunoUmi',
serif;
$secondary-font: 'Playfair Display',
serif;